.paginator {
    margin: 10px;
    display: flex;
    gap: 5px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.selectedPage {
    font-weight: bold;
    border: 1px solid black;
}

.notSelectedPage {
    font-weight: normal;
    color: white;
    cursor: pointer;
}
